.Box {
  @include box(4px);
  display: flex;
  width: max-content;
  height: auto;

  &.light {
    @include dark;
  }

  &.dark {
    @include light;
  }

  &.pill {
    border-radius: 100px;
    padding: 4px;
    flex-direction: row;
  }
}
