.Box {
  @include box(4px);
  width: max-content;
  height: auto;

  &.light {
    @include dark;
  }

  &.dark {
    @include light;
  }

  &.pill {
    border-radius: 100px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }
}
