.Box {
  width: max-content;
  box-sizing: border-box;
  height: auto;

  &.light {
    @include dark;
  }

  &.dark {
    @include light;
  }

  &.small {
    @include box(2px);
  }

  &.medium {
    @include box(4px);
  }

  &.large {
    @include box(8px);
  }

  &.pill {
    border-radius: 100px;
    padding: 4px;
    display: flex;
    flex-direction: row;
    gap: 4px;
    align-items: center;
  }

  &.outline {
    border-width: 2px;
    border-style: solid;

    &.light {
      border-color: $light;
    }

    &.dark {
      border-color: $dark;
    }
  }

  &.hover {
    :hover {
      cursor: pointer;
    }
  }
}
