.Text {
  &.medium {
    font-weight: 400;
  }

  &.semibold {
    font-weight: 500;
  }

  &.size_tiny {
    font-size: 12px;
  }

  &.size_small {
    font-size: 13px;
  }

  &.size_medium {
    font-size: 16px;
  }

  &.size_large {
    font-size: 24px;
  }
}
