@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

:root {
  --background: 0 0% 100%;
  --foreground: 224 71.4% 4.1%;

  --card: 0 0% 100%;
  --card-foreground: 224 71.4% 4.1%;

  --popover: 0 0% 100%;
  --popover-foreground: 224 71.4% 4.1%;

  --primary: 0 0% 12%;
  --primary-foreground: 0 0% 92%;

  --secondary: 220 14.3% 95.9%;
  --secondary-foreground: 220.9 39.3% 11%;

  --muted: 220 14.3% 95.9%;
  --muted-foreground: 220 8.9% 46.1%;

  --accent: 220 14.3% 95.9%;
  --accent-foreground: 220.9 39.3% 11%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 20% 98%;

  --border: 220 13% 91%;
  --input: 220 13% 91%;
  --ring: 224 71.4% 4.1%;

  --radius: 0.5rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;

    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;

    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;

    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;

    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;

    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;

    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;

    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;

    scrollbar-color: rgba(215, 213, 230, 0.5) rgb(17, 18, 18)!important;
  };
} */

@theme {
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-purple-light: #e0ceff;
  --color-purple-dark: #755da0;
  --color-blue-light: #dbf8ff;
  --color-blue-dark: #45737e;
  --color-green-light: #c0e9b6;
  --color-green-dark: #284e2b;
  --color-gray-0: #d8d8d8;
  --color-gray-1: #aeaeae;
  --color-gray-2: #8e8e8e;
  --color-gray-3: #2e2e2e;
  --color-warn: #ffc075;
  --color-black: #1e1e1e;
  --color-white: #ebebeb;
  --blur-xs: 2px;
  --text-4xs: 0.375rem;
  --text-3xs: 0.5rem;
  --text-2xs: 0.625rem;
  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
  --drop-shadow-white: 0px 4px 32.5px rgba(235, 235, 235, 0.6);
  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;
  --animate-spin-once: spin-once 1s ease-in-out;
  --animate-rotate180: rotate180 1.5s ease-in-out infinite;

  @keyframes accordion-down: {
    from: {
      height: "0";
    }
    to: {
      height: "var(--radix-accordion-content-height)";
    }
  }
  @keyframes accordion-up: {
    from: {
      height: "var(--radix-accordion-content-height)";
    }
    to: {
      height: "0";
    }
  }
  @keyframes spin-once: {
    from: {
      transform: "rotate(0deg)";
    }
    to: {
      transform: "rotate(360deg)";
    }
  }
  @keyframes rotate180: {
    "0%": {
      transform: "rotate(0deg)";
    }
    "100%": {
      transform: "rotate(180deg)";
    }
  }
}
@utility container {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @variant 2xl {
    max-width: 1400px;
  }
}
@utility border-border {
  border-color: hsl(var(--border));
}

@utility bg-background {
  background-color: hsl(var(--background));
}

@utility text-foreground {
  color: hsl(var(--foreground));
}

@layer base {
  * {
    @apply border-border;
    scrollbar-width: thin;
    scrollbar-color: rgba(17, 18, 18) rgb(215, 213, 230, 0.5);
  }

  .dark * {
    scrollbar-color: rgb(215, 213, 230, 0.5) rgba(17, 18, 18);
  }

  body {
    @apply bg-background text-foreground;
  }
}

.iridescent {
  background:
    linear-gradient(
      269.96deg,
      rgba(243, 184, 216, 0.7) -42.8%,
      rgba(183, 147, 233, 0.7) -24.03%,
      rgba(159, 212, 243, 0.7) -5.26%,
      rgba(255, 210, 196, 0.7) 13.51%,
      rgba(251, 243, 243, 0.7) 32.28%,
      rgba(217, 171, 223, 0.7) 51.05%,
      rgba(175, 156, 227, 0.7) 69.82%,
      rgba(170, 228, 225, 0.7) 88.59%,
      rgba(198, 234, 208, 0.7) 107.36%,
      rgba(255, 255, 255, 0.7) 126.13%,
      rgba(253, 181, 228, 0.7) 144.9%
    ),
    linear-gradient(0deg, #ebebeb, #ebebeb);
}

.iridescent-text {
  background:
    linear-gradient(
      269.96deg,
      rgba(243, 184, 216, 0.7) -42.8%,
      rgba(183, 147, 233, 0.7) -24.03%,
      rgba(159, 212, 243, 0.7) -5.26%,
      rgba(255, 210, 196, 0.7) 13.51%,
      rgba(251, 243, 243, 0.7) 32.28%,
      rgba(217, 171, 223, 0.7) 51.05%,
      rgba(175, 156, 227, 0.7) 69.82%,
      rgba(170, 228, 225, 0.7) 88.59%,
      rgba(198, 234, 208, 0.7) 107.36%,
      rgba(255, 255, 255, 0.7) 126.13%,
      rgba(253, 181, 228, 0.7) 144.9%
    ),
    linear-gradient(0deg, #ebebeb, #ebebeb);

  background-clip: text;
  -webkit-background-clip: text;
  /* For older browsers */

  text-fill-color: transparent;
  -webkit-text-fill-color: transparent;
}

.iridescent-blur {
  background: linear-gradient(
    269.96deg,
    rgba(243, 184, 216, 0.7) -42.8%,
    rgba(183, 147, 233, 0.7) -24.03%,
    rgba(159, 212, 243, 0.7) -5.26%,
    rgba(255, 210, 196, 0.7) 13.51%,
    rgba(251, 243, 243, 0.7) 32.28%,
    rgba(217, 171, 223, 0.7) 51.05%,
    rgba(175, 156, 227, 0.7) 69.82%,
    rgba(170, 228, 225, 0.7) 88.59%,
    rgba(198, 234, 208, 0.7) 107.36%,
    rgba(255, 255, 255, 0.7) 126.13%,
    rgba(253, 181, 228, 0.7) 144.9%
  );
  mix-blend-mode: darken;
  filter: blur(100px);
}

.shine {
  background:
    linear-gradient(
      303.31deg,
      rgba(30, 30, 30, 0.5) 11.89%,
      rgba(138, 138, 138, 0.5) 42.34%,
      rgba(109, 109, 109, 0.5) 55.02%,
      rgba(14, 14, 14, 0.5) 69.4%,
      rgba(30, 30, 30, 0.5) 93.08%
    ),
    linear-gradient(0deg, #1e1e1e, #1e1e1e);
  background-size: 400% 400%;
  overflow: hidden;
  animation: TransitioningBackground 3s ease infinite;
}

@keyframes TransitioningBackground {
  0% {
    background-position: 1% 0%;
  }

  50% {
    background-position: 99% 100%;
  }

  100% {
    background-position: 1% 0%;
  }
}

.less-iridescent {
  background:
    linear-gradient(
      269.96deg,
      rgba(243, 184, 216, 0.4) -42.8%,
      rgba(183, 147, 233, 0.4) -24.03%,
      rgba(159, 212, 243, 0.4) -5.26%,
      rgba(255, 210, 196, 0.4) 13.51%,
      rgba(251, 243, 243, 0.4) 32.28%,
      rgba(217, 171, 223, 0.4) 51.05%,
      rgba(175, 156, 227, 0.4) 69.82%,
      rgba(170, 228, 225, 0.4) 88.59%,
      rgba(198, 234, 208, 0.4) 107.36%,
      rgba(255, 255, 255, 0.4) 126.13%,
      rgba(253, 181, 228, 0.4) 144.9%
    ),
    linear-gradient(0deg, #ebebeb, #ebebeb);
}

div[data-radix-popper-content-wrapper] {
  z-index: 50 !important;
}

.banner > img {
  object-fit: contain;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
