body.layout {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .container {
    width: 100%;
    max-width: 450px;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 8px;
    box-sizing: border-box;

    header {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: 64px;
      margin-left: -12px;
    }
  }
}
