.container {
  .swapBtn {
    position: absolute;
    top: 50%;
    left: 50%;
    background: $light;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    cursor: pointer;

    .swapIcon {
      position: absolute;
      width: 10px;
    }
  }

  .inputBox {
    padding: 16px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;

    .rowTop, .rowMiddle, .rowBottom {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .tokenDropdown {
      cursor: pointer;
      padding-right: 8px;
      color: $light;
    }
  }
}

.ticker {
  padding-top: 1px !important;
  padding-bottom: 2px;
}
