.Menu {
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;
  border-radius: 8px;
  width: max-content;
}

.Item {
  position: relative;
  z-index: 1;

  &.selected {
    * {
      box-sizing: content-box;
    }

    &.light {
      color: $light;
    }

    &.dark {
      color: $dark;
    }

    transition: color 0.2s ease-in-out;
  }

  transition: color 0.2s ease-in-out;

  .virtualBox {
    position: absolute;
    z-index: -1;
    inset: -4px -6px;
    width: calc(100%);
  }
}
