
.Item {
  position: relative;
  z-index: 1;

  &.selected {
    * {
      box-sizing: content-box;
    }

    &.light {
      color: $light;
    }

    &.dark {
      color: $dark;
    }
  }

  .virtualBox {
    position: absolute;
    z-index: -1;
    inset: -4px -6px;
    width: calc(100%);
  }
}
