LONGTAIL_GRAPHQL_SCHEMA="../cmd/graphql.ethereum/schema.graphqls"
NEXT_PUBLIC_LONGTAIL_WALLETCONNECT_PROJECT_ID="Your wallet connect id"

# PostHog Configuration
NEXT_PUBLIC_POSTHOG_KEY="your_project_key_here"
NEXT_PUBLIC_POSTHOG_HOST="https://app.posthog.com"
